body{
    font-family: Arial;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.Orange-color{
    color: goldenrod;
}
.green-color{
    color: blueviolet;
}
.h1{
    color: skyblue;
   
}
.half-width{
    font-size: 25px;
    display: flex;
    padding-left: 5px;
    padding-right: 15px;

}

img{
    border-radius: 10px;
    width: 400px;
    height: 400px;
    border: 10px;
}
.sky-blue{
    color: skyblue;
}

.link-button{
    border-radius: 25px;
    background: darkorange;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 15px;
    text-align: center;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    .place{
        text-align: center;
        font-size: 25px;
    
    }
    .recipies{
        display:flex;
    padding-left: 15px;
    padding-right: 15px;
    width:50%;
    
    }
    .Title{
        display: flex;
    font-size: 10px;
   
    justify-content: start;
    align-items: center;

    }
    #alighn{
        text-align: center;
      
    }
    footer p{
        text-align: center;
    }
    .cards{
        display: flex;
   justify-content: center;
        align-items: center;
      
        
    }
    .card{
        width: 700px;
        padding: 10px 10px 20px 10px;
        border: 5px solid skyblue;
        background-color:yellowgreen;
        box-shadow: 10px 10px 5px #aaaaaa;
        

    }
    .social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .site{
        width: 250px;
    }
 
   
   